@font-face {
    font-family: 'Rubik';
    src: url('fonts/RubikMedium.eot');
    src: url('fonts/RubikMedium.eot') format('embedded-opentype'),
         url('fonts/RubikMedium.woff2') format('woff2'),
         url('fonts/RubikMedium.woff') format('woff'),
         url('fonts/RubikMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/RubikRegular.eot');
    src: url('fonts/RubikRegular.eot') format('embedded-opentype'),
         url('fonts/RubikRegular.woff2') format('woff2'),
         url('fonts/RubikRegular.woff') format('woff'),
         url('fonts/RubikRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/RubikLight.eot');
    src: url('fonts/RubikLight.eot') format('embedded-opentype'),
         url('fonts/RubikLight.woff2') format('woff2'),
         url('fonts/RubikLight.woff') format('woff'),
         url('fonts/RubikLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Rubik", "sans-serif";
    font-size: 18px;
}

.report-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin: 80px 6.5vw;
    max-width: 1110px;
    background-color: yellow;
}

.head-item {
    background-color: purple;
    border-radius: 15px;
    height: 205px;
}

.tasks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    outline: 1px solid red;
}

.task-item {
    background-color: green;
    border-radius: 15px;
    flex: clamp(100% / 3 - 0.1%, (330px - 100%) * 1000, 100%);
    height: 22.8vw;
    min-height: 160px;
    max-height: 245px;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
    .report-container {
        grid-template-columns: 1fr 100fr;
        gap: 30px;
    }

    .head-item {
        width: 255px;
        height: 518px;
    }

    .tasks-container {
        grid-column: 2;
        gap: 30px;
    }

    .task-item {
        flex: clamp(100% / 4 - 0.1%, (720px - 100%) * 1000, 100% / 3 - 0.1%);
    }
}

@media screen and (min-width: 1290px) {
    .report-container {
        margin-top: 24.7vh;
        margin-bottom: 24.7vh;
    }
}

@media screen and (min-width: 1440px) {
    .report-container {
        margin: 24.7vh 11vw;
    }
}