@font-face {
    font-family: 'Rubik';
    src: url('fonts/RubikMedium.eot');
    src: url('fonts/RubikMedium.eot') format('embedded-opentype'),
         url('fonts/RubikMedium.woff2') format('woff2'),
         url('fonts/RubikMedium.woff') format('woff'),
         url('fonts/RubikMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/RubikRegular.eot');
    src: url('fonts/RubikRegular.eot') format('embedded-opentype'),
         url('fonts/RubikRegular.woff2') format('woff2'),
         url('fonts/RubikRegular.woff') format('woff'),
         url('fonts/RubikRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/RubikLight.eot');
    src: url('fonts/RubikLight.eot') format('embedded-opentype'),
         url('fonts/RubikLight.woff2') format('woff2'),
         url('fonts/RubikLight.woff') format('woff'),
         url('fonts/RubikLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

:root {
    --report-breakpoint: 1050px;
    --flex-gap: clamp(25px, (100vw - var(--report-breakpoint))*1000, 30px);

    --bg-blue: hsl(246, 80%, 60%);

    --bg-work: hsl(15, 100%, 70%);
    --bg-play: hsl(195, 74%, 62%);
    --bg-study: hsl(348, 100%, 68%);
    --bg-exercise: hsl(145, 58%, 55%);
    --bg-social: hsl(264, 64%, 52%);
    --bg-self-care: hsl(43, 84%, 65%);

    --bg-very-dark-blue: hsl(226, 43%, 10%);
    --bg-dark-blue: hsl(235, 46%, 20%);
    --bg-desaturated-blue: hsl(235, 45%, 61%);
    --bg-pale-blue: hsl(236, 100%, 87%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:link, a:active {
    text-decoration: none;
    color: var(--bg-desaturated-blue);
}

a:hover {
    color: white;
}

body {
    font-family: "Rubik", "sans-serif";
    font-size: 18px;
    color: white;
    background-color: var(--bg-very-dark-blue);
}

.report-container {
    --margin-bp-mobile: 375;
    --margin-bp-mobile-u: 375px;
    --margin-bp-desktop: 1440;

    --margin-x-mobile-factor: 0.065;
    --margin-x-desktop-factor: 0.11;
    --margin-x-a-coef: calc(
        (
            var(--margin-bp-mobile) * var(--margin-x-mobile-factor)
            - var(--margin-bp-desktop) * var(--margin-x-desktop-factor)
        )
        / ( var(--margin-bp-mobile) - var(--margin-bp-desktop) )
    );
    --margin-x: calc(
                    var(--margin-x-a-coef) * (100vw - var(--margin-bp-mobile-u))
                    + var(--margin-bp-mobile-u) * var(--margin-x-mobile-factor) );

    --margin-y-mobile-factor: 0.21333;
    --margin-y-desktop-factor: 0.1757;
    --margin-y-a-coef: calc(
        (
            var(--margin-bp-mobile) * var(--margin-y-mobile-factor)
            - var(--margin-bp-desktop) * var(--margin-y-desktop-factor)
        )
        / ( var(--margin-bp-mobile) - var(--margin-bp-desktop) )
    );
    --margin-y: calc(
                    var(--margin-y-a-coef) * (100vw - var(--margin-bp-mobile-u))
                    + var(--margin-bp-mobile-u) * var(--margin-y-mobile-factor) );

    margin: var(--margin-y) var(--margin-x);

    display: flex;
    flex-wrap: wrap;
    gap: var(--flex-gap);
    max-width: 1110px;
}

.head-item {
    flex: 0 0 clamp(255px, (var(--report-breakpoint) - 100vw)*1000, 100%);
    border-radius: 15px;
    height: clamp(205px, (100vw - calc( var(--report-breakpoint) - 1px) )*1000, 518px);
    
    background-color: var(--bg-dark-blue);
}

.head-item-inner {
    border-radius: 15px;
    padding: 31px 28px;
    width: 100%;
    height: clamp(133px, (100vw - calc( var(--report-breakpoint) - 1px) )*1000, 355px);

    background-color: var(--bg-blue);
}

.head-item-inner > * {
    display: inline-block;
    vertical-align: middle;
}

.head-item-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 18px;
    column-gap: 48px;
    
    padding: 23px 33px;

    color: var(--bg-desaturated-blue);
}

.avatar-container {
    --image-b-radius: clamp(35px, (100vw - var(--report-breakpoint))*1000, 42px);
    --image-radius: calc( var(--image-b-radius) * 2 );

    border-radius: var(--image-b-radius);
    border: 4px solid white;
    margin-right: 13px;
    margin-bottom: clamp(0px, (100vw - var(--report-breakpoint))*1000, 40px);
    width: var(--image-radius);
    height: var(--image-radius);
}

.avatar-container > img {
    width: 100%;
}

.avatar-report-line {
    font-size: calc( 70 / 85 * 1em );

    color: var(--bg-pale-blue);
}

.avatar-name-line {
    font-size: clamp(
        calc(170 / 130 * 1em),
        (100vw - var(--report-breakpoint))*1000,
        calc(135 / 62 * 1em)
    );
}

.tasks-container {
    display: flex;
    flex-wrap: wrap;
    flex: clamp(100% - 285px, (var(--report-breakpoint) - 100vw)*1000, 100%);
    gap: var(--flex-gap);
}

.task-item {
    display: flex;
    align-items: flex-end;
    border-radius: 15px;
    flex:   clamp(
                clamp(100% / 4 - 0.1%, (720px - 100%) * 1000, 100% / 3 - 0.1%),
                (var(--report-breakpoint) - 100vw)*1000,
                clamp(100% / 3 - 0.1%, (708px - 100vw) * 1000, 100%)
            );
    height: clamp(160px, (100vw - var(--report-breakpoint))*1000, 245px);
    
    background: url("/images/icon-work.svg") right 18px top -10px no-repeat,
                var(--bg-work);
}

.task-item-inner {
    border-radius: 13px;
    width: 100%;
    height: min-content;

    padding: 28px clamp(25px, (100vw - var(--report-breakpoint))*1000, 32px);
    padding-bottom: clamp(26px, (100vw - var(--report-breakpoint))*1000, 33px);

    background-color: var(--bg-dark-blue);
}

.task-item-title, .task-item-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 11px;
}

.task-item-title {
    font-weight: 500;
}

.task-item-options {
    font-size: 22px;

    color: var(--bg-pale-blue);
}

.task-item-info {
    margin-top: clamp(6px, (100vw - var(--report-breakpoint))*1000, 23px);
}

.task-item-time {
    font-size: clamp(1.7727em, (100vw - var(--report-breakpoint))*1000, 2.875em);
    font-weight: 300;
}

.task-item-prev {
    font-size: 0.833em;

    color: var(--bg-pale-blue);
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1050px) {
    .head-item-links {
        flex-direction: column;
        padding: 28px 33px;
    }
}